OCP App Onboarding({{ ocp_project_requestor_info }}) - Validation failed!

Message: {{ ocp_input_validation_status.msg }}
Failed check: {{ ocp_input_validation_status.assertion }}


Environment: {{ ocp_cluster_alias | default('None') }}
App Code: {{ ocp_app_code | default('None') }}
Environment: {{ ocp_project_environment | default('None') }}
Project name suffix: {{ ocp_project_name_suffix | default('None') }}
Location: {{ ocp_project_location | default('None')  }}
Project Description: {{ ocp_project_description | default('None') }}
CPU request: {{ ocp_project_cpu_request | default('None') }}
Memory request: {{ ocp_project_memory_request | default('None') }}
Thin storage: {{ ocp_project_storage_thin | default('None') }}
Isilon: {{ ocp_project_storage_isilon | default('None') }}
Egress IPAddress: {{ ocp_project_egress_ipaddr | default('None')  }}
External project to allow access: {{ ocp_netpol_allow_from_project | default('None') }}
Email - distribution list: {{ ocp_project_email_dl | default('None') }}
Email - Primary: {{ ocp_project_email_primary | default('None') }}
Email - Secondary: {{ ocp_project_email_secondary | default('None') }}          
Project requestor info: {{ ocp_project_requestor_info | default('None') }}
