  <!-- Nodes_start -->
  {% if ocp_rbac_list is defined %}
  <div class="center">
    <h3>ClusterRoleBinding</h3>  
    <table> 
      <tbody class="table-body">    
        <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Users</th>
        <th>Groups</th>
        <th>ServiceAccounts</th>
        </tr>
        <tbody>
        
        {% for rbac in ocp_rbac_list.resources %}
        <tr>
        <td>
          <strong>{{ rbac.metadata.name }}</strong>
        </td>
        <td>
          {{ rbac.roleRef.kind }}/{{ rbac.roleRef.name }}
        </td>
        <td>
          {% if rbac.subjects is defined %}
            {% for subject in rbac.subjects %}
              {% if subject.kind == 'User' %}
                {{ subject.name }}, 
              {% endif %}          
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% if rbac.subjects is defined %}
            {% for subject in rbac.subjects %}
              {% if subject.kind == 'Group' %}
                {{ subject.name }}, 
              {% endif %}          
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% if rbac.subjects is defined %}
            {% for subject in rbac.subjects %}
              {% if subject.kind == 'ServiceAccount' %}
                {{ subject.name }}, 
              {% endif %}          
            {% endfor %}
          {% endif %}
        </td>      
        </tr>
        {% endfor %}
        </tbody>
        </table>
  </div>
  {% endif %}
  <!-- Nodes_end -->