  <!-- Nodes_start -->
  {% if node_list.resources is defined %}
  <div class="center">
    <h3>OpenShift Cluster Nodes</h3>  
    <table> 
      <tbody>    
        <tr>
        <th style="text-align: left;padding: 5px;">Node Name</th>
        <th style="text-align: left;padding: 5px;">Status</th>
        <th style="text-align: left;padding: 5px;">Node Roles</th>
        <th style="text-align: left;padding: 5px;">Kubelet Version</th>
        </tr>
        <tbody>
      
        {% for nodes in node_list.resources %}
        <tr>
        <td style="text-align: left;padding: 5px;" valign="top" align="center">
          <strong>{{ nodes.metadata.name }}</strong>
        </td>
      
        <td style="text-align: left;padding: 5px;" valign="top" align="center">
          <strong>TODO</strong>
        </td>
      
        <td style="text-align: left;padding: 5px;" valign="top" align="center">
          {% if 'node-role.kubernetes.io/control-plane' in nodes.metadata.labels %}
          control-plane
          {% endif %}
          {% if 'node-role.kubernetes.io/master' in nodes.metadata.labels %}
          master
          {% endif %}
          {% if 'node-role.kubernetes.io/worker' in nodes.metadata.labels %}
          worker
          {% endif %}
          
        </td>
      
        <td style="text-align: left;padding: 5px;" valign="top" align="center">
          {{ nodes.status.nodeInfo.kubeletVersion }}
        </td>
      
        </tr>
        {% endfor %}
        </tbody>
        </table>
  </div>
  {% endif %}
  <!-- Nodes_end -->