<div class="center">
  <h3>Cluster Information</h3>
  <table>
    <tr>
    <th>Cluster Name</th>
    <th>Cluster API</th>
    <!-- <th style="text-align: left;padding: 5px;">Container Status</th>
    <th style="text-align: left;padding: 5px;">IP Address</th>
    <th style="text-align: left;padding: 5px;">Host</th> -->
    </tr>
    <tbody>
    <tr>
      <td>
        {{ ocp_cluster_alias }}
      </td>
      <td>        
        {{ ocp_cluster_list[ocp_cluster_alias]['cluster_api'] }}
      </td>
    </tr>
    </tbody>
    </table>
</div>
