<strong>OCP App Onboarding({{ ocp_project_requestor_info }}) - COMPLETED.</strong>
<br>
<br>Project name: {{ ocp_project_name }}

<br>
{% if openshift_auth_results.failed is true %}
<br>Message: {{ openshift_auth_results.msg }}
<br>Cluster API: "{{ ocp_cluster_list[ocp_cluster_alias]['cluster_api'] }}"
{% endif %}

<br>
{% if project_found_status is true %}
<br>The project "{{ ocp_project_name }}" already exists! Please contact the OpenShift Platform team.
{% endif %}

{% if project_quota_not_enough is true %}
<br>There is no adequate resource available in the cluster.
<br>
<br>CPU Allocatable Total: {{ total_node_cpu_allocatable }}
<br>CPU Allocated Quota: {{ total_quota_cpu_allocated }}
<br>CPU Available: {{ total_quota_cpu_available }}
<br>CPU Quota Request: {{ cpu_quota_request_total | float * 1000 }}
<br>Memory Allocatable: {{ total_node_memory_allocatable }}
<br>Memory Allocated Quota: {{ total_quota_memory_allocated }}
<br>Memory Available: {{ total_quota_memory_available }}
<br>Memory Quota Request: {{ memory_quota_request_total | float * 1000000 | float }}
{% endif %}

<br>
{% if ocp_input_validation_status.evaluated_to is defined and ocp_input_validation_status.evaluated_to is false %}
<br>Message: {{ ocp_input_validation_status.msg }}
<br>Failed check: {{ ocp_input_validation_status.assertion }}
{% endif %}

<br>
<br>Environment: {{ ocp_cluster_alias | default('None') }}
<br>App Code: {{ ocp_app_code | default('None') }}
<br>Environment: {{ ocp_project_environment | default('None') }}
<br>Project name suffix: {{ ocp_project_name_suffix | default('None') }}
<br>Location: {{ ocp_project_location | default('None')  }}
<br>Project Description: {{ ocp_project_description | default('None') }}
<br>CPU request: {{ ocp_project_cpu_request | default('None') }}
<br>Memory request: {{ ocp_project_memory_request | default('None') }}
<br>Thin storage: {{ ocp_project_storage_thin | default('None') }}
<br>Isilon: {{ ocp_project_storage_isilon | default('None') }}
<br>Egress IPAddress: {{ ocp_project_egress_ipaddr | default('None')  }}
<br>External project to allow access: {{ ocp_netpol_allow_from_project | default('None') }}
<br>Email - distribution list: {{ ocp_project_email_dl | default('None') }}
<br>Email - Primary: {{ ocp_project_email_primary | default('None') }}
<br>Email - Secondary: {{ ocp_project_email_secondary | default('None') }}          
<br>Project requestor info: {{ ocp_project_requestor_info | default('None') }}
