<strong>[OCP]Update/Create {{ ocp_resource | upper }}({{ ocp_project_requestor_info }})-FAILED!</strong>

{% if ocp_input_validation_status.evaluated_to is defined and ocp_input_validation_status.evaluated_to is false %}
<p><strong>Input Validation Error!</strong></p>
<p>Message: {{ ocp_input_validation_status.msg }}</p>
<p>Failed check: {{ ocp_input_validation_status.assertion }}</p>
{% endif %}

{% if openshift_auth_results.failed is true %}
<p>Message: {{ openshift_auth_results.msg }}</p>
<p>Cluster API: "{{ ocp_cluster_list[ocp_cluster_alias]['cluster_api'] }}"</p>
{% endif %}

{% if project_found_status is false %}
<p>The project "{{ ocp_project_name }}" does not exists! Please contact the OpenShift Platform team.</p>
{% endif %}

{% if rbac_found_status is true %}
<p>The RBAC "{{ ocp_rbac_name }}" already exists! Please contact the OpenShift Platform team.</p>
{% endif %}

{% if project_quota_not_enough is true %}
<br>There is no adequate resource available in the cluster.
<br>
<br>CPU Allocatable Total: {{ total_node_cpu_allocatable }}
<br>CPU Allocated Quota: {{ total_quota_cpu_allocated }}
<br>CPU Available: {{ total_quota_cpu_available }}
<br>CPU Quota Request: {{ cpu_quota_request_total | float * 1000 }}
<br>Memory Allocatable: {{ total_node_memory_allocatable }}
<br>Memory Allocated Quota: {{ total_quota_memory_allocated }}
<br>Memory Available: {{ total_quota_memory_available }}
<br>Memory Quota Request: {{ memory_quota_request_total | float * 1000000 | float }}
{% endif %}


{% include ocp_resource|lower + '-details.html' %}