<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<title>{{ health_report_title | default('OpenShift Health Check Report') }}</title>
<meta http–equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http–equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
{% raw %}
<style>
  body {
    background-color: #31323A;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>
{% endraw %} 
</head>
<body class="em_body" style="margin:0px; padding:0px; align: center; text-align: center; " >

<div style="padding-top: 50px; padding-bottom: 30px; center; color: #ffffff; font-weight: bolder; text-align: center; ">
  <h2>{{ dns_report_title | default('OpenShift Health Check Report') }}</h2>
</div>

  <!-- Nodes_start -->
  {% if node_list.resources is defined %}
  <div style="padding-right: 20px; padding-left: 20px; padding-bottom: 15px; text-align: center;">
    <h3>OpenShift Cluster Nodes</h3>
  
  <table class="center" valign="top" width="80%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center" > 
    <tbody>    
      <tr>
      <th style="text-align: left;padding: 5px;">Node Name</th>
      <th style="text-align: left;padding: 5px;">Status</th>
      <th style="text-align: left;padding: 5px;">Node Roles</th>
      <th style="text-align: left;padding: 5px;">Kubelet Version</th>
      </tr>
      <tbody>
    
      {% for nodes in node_list.resources %}
      <tr>
      <td style="text-align: left;padding: 5px;" valign="top" align="center">
        <strong>{{ nodes.metadata.name }}</strong>
      </td>
    
      <td style="text-align: left;padding: 5px;" valign="top" align="center">
        <strong>TODO</strong>
      </td>
    
      <td style="text-align: left;padding: 5px;" valign="top" align="center">
        {% if 'node-role.kubernetes.io/control-plane' in nodes.metadata.labels %}
        control-plane
        {% endif %}
        {% if 'node-role.kubernetes.io/master' in nodes.metadata.labels %}
        master
        {% endif %}
        {% if 'node-role.kubernetes.io/worker' in nodes.metadata.labels %}
        worker
        {% endif %}
        
      </td>
    
      <td style="text-align: left;padding: 5px;" valign="top" align="center">
        {{ nodes.status.nodeInfo.kubeletVersion }}
      </td>
    
      </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  {% endif %}
  <!-- Nodes_end -->
  
<table class="center" valign="top" width="80%" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center" > 
  <tbody>
    <tr>
      <td valign="top" align="center">
        
      </td>
    </tr>


<!--Content section new-->

<!-- Nodes_start -->
{% if node_list.resources is defined %}
<tr>
<td valign="top" align="center" style="padding-bottom: 15px;">
  <h3>OpenShift Cluster Nodes</h3>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
  <th style="text-align: left;padding: 5px;">Node Name</th>
  <th style="text-align: left;padding: 5px;">Status</th>
  <th style="text-align: left;padding: 5px;">Node Roles</th>
  <th style="text-align: left;padding: 5px;">Kubelet Version</th>
  </tr>
  <tbody>

  {% for nodes in node_list.resources %}
  <tr>
  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    <strong>{{ nodes.metadata.name }}</strong>
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    <strong>TODO</strong>
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    {% if 'node-role.kubernetes.io/control-plane' in nodes.metadata.labels %}
    control-plane
    {% endif %}
    {% if 'node-role.kubernetes.io/master' in nodes.metadata.labels %}
    master
    {% endif %}
    {% if 'node-role.kubernetes.io/worker' in nodes.metadata.labels %}
    worker
    {% endif %}
    
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    {{ nodes.status.nodeInfo.kubeletVersion }}
  </td>

  </tr>
  {% endfor %}
  </tbody>
  </table>
</td>
</tr>
{% endif %}
<!-- Nodes_end -->


<!-- api_pods_start -->
{% if api_pod_list.resources is defined %}
<tr>
<td valign="top" align="center" style="padding-bottom: 15px;">
  <h3>API Pods</h3>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
  <th style="text-align: left;padding: 5px;">Pod Name</th>
  <th style="text-align: left;padding: 5px;">Status</th>
  <th style="text-align: left;padding: 5px;">Container Status</th>
  <th style="text-align: left;padding: 5px;">KUBELET VERSION</th>
  </tr>
  <tbody>

  {% for api_pod in api_pod_list.resources %}
  <tr>
  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    <strong>{{ api_pod.metadata.name }}</strong>
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    <strong>TODO</strong>
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    {%if api_pod.status.containerStatuses | length > 0 %} 
      {% for container in api_pod.status.containerStatuses %}
        {{ container.name }}: {{ container.ready }}<br>     
      {% endfor %}
    {% endif %}
    
  </td>

  <td style="text-align: left;padding: 5px;" valign="top" align="center">
    TODO
  </td>

  </tr>
  {% endfor %}
  </tbody>
  </table>
</td>
</tr>
{% endif %}
<!-- api_pods_end -->

<!--//Content section--> 



<!--Footer Text Section-->
<tr>
<td style="padding:35px 70px 30px;" class="em_padd" valign="top" bgcolor="#0d1121" align="center">
  
  <table width="80%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody>
  <tr>
    <td style="font-size:16px; line-height:30px; color:#aaaaaa;" valign="top" align="center">
      This Report was generated by Ansible
    </td>
  </tr>
  <tr>
  <td style="font-size:0px; line-height:0px; height:15px;" height="15">&nbsp;</td>
    <!--—this is space of 15px to separate two paragraphs —-->
  </tr>
  <tr>
    <td style="font-size:18px; line-height:22px; color:#aaaaaa; padding-bottom:12px;" valign="top" align="center">Please report to <a href="mailto:{{ report_admin_email | default('ocp-admin@example.com')}}" target="_blank" style="text-decoration:none; color:#aaaaaa;"><strong>{{ dns_report_admin_email | default('ocp-admin@example.com')}}</strong></a> if you find any issues in the Report.</td>
  </tr>
  <tr>
    <td class="em_h20" style="font-size:0px; line-height:0px; height:25px;" height="25">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:18px; line-height:22px; color:#aaaaaa; text-transform: none; padding-bottom:12px;" valign="top" align="center">Thank You</td>
  </tr>
  </tbody></table>

</td>
</tr>
<!--Footer Section-->
<tr>
<td style="font-size:11px; line-height:18px; color:#999999;" valign="top" align="center">
If you do not wish to receive any further emails, please report to <a href="mailto:{{ dns_report_admin_email| default(omit) }}" target="_blank" style="text-decoration:none; color:#999999;"><strong>{{ dns_report_admin_email | default('ocp-admin@example.com') }}</strong></a></td>
</tr>
</tbody></table></td>
</tr>
<tr>
<td class="em_hide" style="line-height:1px;min-width:700px;background-color:#ffffff;"></td>
</tr>
</tbody></table></td>
</tr>
</tbody></table>
<div class="em_hide" style="white-space: nowrap; display: none; font-size:0px; line-height:0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>


</body></html>