<div style="padding-top: 50px; padding-bottom: 30px; center; font-weight: bolder; text-align: center; ">
<h1>OCP App Onboarding({{ ocp_project_requestor_info }}) - Report.</h1>
<h2>Status: <strong>
{% if openshift_auth_results.failed is true or project_found_status is true or project_quota_not_enough is true or ocp_input_validation_status.evaluated_to is defined  %}
ERROR!
{% else %}
SUCCESS
{% endif %}
</strong></h2>
</div>

<div class="center">
  <h2>Project name: <strong>{{ ocp_project_name }}</strong></h2>
  <table>
    <tbody>
      <!-- <tr>
      <th>PV Name</th>
      <th>Status</th>
      <th>Capacity</th>
      <th>Access Modes</th>
      </tr>
      <tbody> -->

    {% if openshift_auth_results.failed is true %}
    <tr>
    <td>Message</td>
    <td>{{ openshift_auth_results.msg }}</td>
    </tr>
    <tr>
    <td>Cluster API</td>
    <td>{{ ocp_cluster_list[ocp_cluster_alias]['cluster_api'] }}</td>
    </tr>
    {% endif %}

    {% if project_found_status is true %}
    <tr>
        <td>Message</td>
        <td>The project <strong>{{ ocp_project_name }}</strong> already exists! Please contact the OpenShift Platform team.</td>
        </tr>
    {% endif %}


{% if project_quota_not_enough is true %}
    <tr>
    <td>Message</td>
    <td>There is no adequate resource available in the cluster.</td>
    </tr>

    <tr>
        <td>CPU Allocatable Total</td>
        <td>{{ total_node_cpu_allocatable }}</td>
    </tr>
    <tr>
        <td>CPU Allocated Quota</td>
        <td>{{ total_quota_cpu_allocated }}</td>
    </tr>
    <tr>
        <td>CPU Available</td>
        <td>{{ total_quota_cpu_available }}</td>
    </tr>
    <tr>
        <td>CPU Quota Request</td>
        <td>{{ cpu_quota_request_total | float * 1000 }}</td>
    </tr>
    <tr>
        <td>Memory Allocatable</td>
        <td>{{ total_node_memory_allocatable }}</td>
    </tr>
    <tr>
        <td>Memory Allocated Quota</td>
        <td>{{ total_quota_memory_allocated }}</td>
    </tr>
    <tr>
        <td>Memory Available</td>
        <td>{{ total_quota_memory_available }}</td>
    </tr>
    <tr>
        <td>Memory Quota Request</td>
        <td> {{ memory_quota_request_total | float * 1000000 | float }}</td>
    </tr>
{% endif %}

{% if ocp_input_validation_status.evaluated_to is defined and ocp_input_validation_status.evaluated_to is false %}
    <tr>
        <td>Message</td>
        <td>{{ ocp_input_validation_status.msg }}</td>
    </tr>
    <tr>
        <td>Failed check</td>
        <td>{{ ocp_input_validation_status.assertion }}</td>
    </tr>
{% endif %}


<tr>
    <td colspan="2"><strong>Project Details</strong></td>
</tr>

<tr>
    <td>Cluster ID</td>
    <td>{{ ocp_cluster_alias | default('None') }} </td>
    </tr>
    <tr>
    <td>App Code</td>
    <td>{{ ocp_app_code | default('None')}} </td>
    </tr>
    <tr>
    <td>Environment</td>
    <td>{{ ocp_project_environment | default('None') }} </td>
    </tr>
    <tr>
    <td>Project name suffix</td>
    <td>{{ ocp_project_name_suffix | default('None') }} </td>
    </tr>
    <tr>
    <td>Location</td>
    <td>{{ ocp_project_location | default('None')  }} </td>
    </tr>
    <tr>
    <td>Project Description</td>
    <td>{{ ocp_project_description | default('None') }} </td>
    </tr>
    <tr>
    <td>CPU request</td>
    <td>{{ ocp_project_cpu_request | default('None') }} </td>
    </tr>
    <tr>
    <td>Memory request</td>
    <td>{{ ocp_project_memory_request | default('None') }} </td>
    </tr>
    <tr>
        <td>Default secret created</td>
        <td>{%if ocp_project_secret_status | default(false) %}Created{% else %}NA{% endif %}</td>
        </tr>
    <tr>
    <td>Thin storage</td>
    <td>{{ ocp_project_storage_thin | default('None') }} </td>
    </tr>
    <tr>
    <td>Isilon</td>
    <td>{{ ocp_project_storage_isilon | default('None') }} </td>
    </tr>
    <tr>
    <td>Egress IPAddress</td>
    <td>{{ ocp_project_egress_ipaddr | default('None')  }} </td>
    </tr>
    <tr>
    <td>External project to allow access</td>
    <td>{{ ocp_netpol_allow_from_project | default('None') }} </td>
    </tr>
    <tr>
    <td>Email - distribution list</td>
    <td>{{ ocp_project_email_dl | default('None') }} </td>
    </tr>
    <tr>
    <td>Email - Primary</td>
    <td>{{ ocp_project_email_primary | default('None') }} </td>
    </tr>
    <tr>
    <td>Email - Secondary</td>
    <td>{{ ocp_project_email_secondary | default('None') }} </td>
    </tr>
    <tr>
    <td>Project requestor info</td>
    <td>{{ ocp_project_requestor_info | default('None') }} </td>
    </tr>
        <tr>
        <td>Project Integration ID</td>
        <td>{{ ocp_project_integration_id | default('NA') }} </td>
        </tr>
        <tr>
            <td>Project APP Owner ID</td>
            <td>{{ ocp_project_app_owner_id | default('NA') }} </td>
            </tr>
            <tr>
                <td>Project APP Support ID</td>
                <td>{{ ocp_project_app_support_id | default('NA') }} </td>
                </tr>
                <tr>
                    <td>Project DevOps Name</td>
                    <td>{{ devops_project_name | default('NA') }} </td>
                    </tr>
      </tbody>
  </table>
</div>

  <!-- Nodes_end -->

<br>




<p>Project</p>
