<div class="center">
  <h3>Cluster Configurations</h3>
  <table>
    <tr>
    <th>Self Provisioning</th>
    <th></th>
    <!-- <th style="text-align: left;padding: 5px;">Container Status</th>
    <th style="text-align: left;padding: 5px;">IP Address</th>
    <th style="text-align: left;padding: 5px;">Host</th> -->
    </tr>
    <tbody>

    <tr>
      <td>
          Subject entry in self-provisioners
      </td>
      <td>        
          {% if crb_list.resources[0].subjects is defined and crb_list.resources[0].subjects | length > 0 %}
          self-provisioners <strong>enabled!</strong><br>
          <div class="snippet">
          {{ crb_list.resources[0].subjects }}
          {% else %}
          Null
          {% endif %}
          </div>        
      </td>
    </tr>
    <tr>
      <td>
        rbac.authorization.kubernetes.io/autoupdate:
      </td>
      <td>
        <strong>
          {% if crb_list.resources[0].metadata is defined %}
          {{ crb_list.resources[0].metadata.annotations['rbac.authorization.kubernetes.io/autoupdate'] }}

          {% endif %}
        </strong>
      </td>
    </tr>
    </tbody>
    </table>
</div>
