<div style="padding-top: 50px; padding-bottom: 30px; center; font-weight: bolder; text-align: center; ">
  <h1>{{ report_title | default('OpenShift Health Check Report') }}</h1>
</div>

<div class="footer-text" style="padding-bottom: 20px;">
  This Report was generated on {{ date_time_text }}.
</div>
